@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.slide-btn:active {
  transform: scale(1.03);
}

/* Add this class to the cover element */
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #f1f1f1;
}
